:export {
  primary: var(--button);
}

.wrapper {
  width: 30%;
}
.timer_text {
  color: #97a1af;
}
.request_code_text {
  width: auto;
  height: auto;
  background: none;
  cursor: pointer;
  color: #344051;
  font-weight: 600;
}
@media (max-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
